# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [14]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
baltimore = pd.read/Users/megancampbell/desktop/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/baltimore_9-24-2016_9-30-2017.csv") 
boston = pd._csv(r"read_csv(r"/Users/megancampbell/desktop/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/boston_9-24-2016_9-30-2017.csv")
ny = pd.read_csv(r"/Users/megancampbell/desktop/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/new-york_9-24-2016_9-30-2017.csv")
philly = pd.read_csv(r"/Users/megancampbell/desktop/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/philadelphia_9-24-2016_9-30-2017.csv")

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [34]:
# Clean your data here!
# baltimore = baltimore.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 
# boston = boston.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 
# ny = ny.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 
# philly = philly.drop(["Type", "Grade", "Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

# baltimore["Repack"] = baltimore["Repack"].replace({"N":False, "E":True})
# boston["Repack"] = boston["Repack"].replace({"N":False, "E":True})
# ny["Repack"] = ny["Repack"].replace({"N":False, "E":True})
# philly["Repack"] = philly["Repack"].replace({"N":False, "E":True})

display(philly.head())
display(boston.head())
display(ny.head())
display(philly.head())

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,PHILADELPHIA,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150,140,150,PENNSYLVANIA,lge,NaN,NaN,False
1,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,med-lge,NaN,NaN,False
2,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,med,NaN,NaN,False
3,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160,150,160,PENNSYLVANIA,lge,NaN,NaN,False
4,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140,140,140,NEW JERSEY,med-lge,NaN,NaN,False

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,exjbo,ORANGE,NaN,False
1,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,jbo,ORANGE,NaN,False
2,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,xlge,ORANGE,NaN,False
3,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,165,CANADA,xlge,ORANGE,NaN,False
4,PUMPKINS,BOSTON,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,180,165,165,CANADA,lge,ORANGE,NaN,False

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,xlge,NaN,NaN,False
1,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,lge,NaN,NaN,False
2,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,xlge,NaN,NaN,False
3,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,lge,NaN,NaN,False
4,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,120,140,120,140,NEW YORK,med-lge,NaN,NaN,False

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,PHILADELPHIA,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150,140,150,PENNSYLVANIA,lge,NaN,NaN,False
1,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,med-lge,NaN,NaN,False
2,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,150,150,NEW YORK,med,NaN,NaN,False
3,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160,150,160,PENNSYLVANIA,lge,NaN,NaN,False
4,PUMPKINS,PHILADELPHIA,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140,140,140,NEW JERSEY,med-lge,NaN,NaN,False

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [56]:
# Combine the four dataframes into one!

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [57]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!